.flex{
    padding-top: 15px;
    display:flex;
    flex-wrap: wrap;
}

.flex__item{
    margin: 5px;
    flex-basis: 150px;
    max-width: 1000px;
}

.flex__item--first{
    flex-grow: 1;
}
.addTaskButton{
    background-color: teal;
    color: white;
    border: none;
    padding: 7px;
    transition: 1s;
}

.addTaskButton:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.07);
    cursor: pointer;
}
@media(max-width: 797px) {
    .flex__item {
        flex-basis: 100%;
        
    }
}

@media(max-width:797px) {
    .list_sectionHeader {
        grid-template-columns: 1fr;
    }

    .list_newButtons {
        justify-content: center;
    }
}